API_URL=http://localhost:8000
API_PORT=8000
INFERENCE_API_URL=http://localhost:8001

QDRANT_URL=:memory:
QDRANT_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIn0.Rm2NcAWcIioJrIFnKxCFjqSg0vt01Di5xTc9b-bS1cA
SIM_THRESHOLD=0.45

GOOGLE_CREDENTIALS_PATH=credentials.json
DRIVE_ROOT_FOLDER_ID=1VwGSXAL6A6QZhyfg-3h3BfK_YI6loZkx?usp=drive_link
EVENT_PHOTOS_DIR=D:\\EventPhotos\\YourEvent\\Images

TELEGRAM_BOT_TOKEN=